<!--                    customer list here...-->
<div class="container-fluid row mt-3">
    <div class="col-5">
        <h3 class="mat-display-1">Customer List</h3>
    </div>
    <div class="col-5">
    </div>
    <div class="col-2">
        <!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search"> -->
        <mat-form-field>
            <mat-label>search...</mat-label>
            <input matInput [(ngModel)]='searchValue'>
        </mat-form-field>
    </div>
</div>

<!-- customer list -->
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Id card</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Customer type</th>
        <th scope="colgroup" colspan="2" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerList
            | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.dateOfBirth }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.idCard }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.customerType }}</td>
            <td>
                <a role="button" class="btn btn-warning" [routerLink]="['edit', customer.id]"
                data-toggle="tooltip" data-placement="bottom" title="Edit Customer">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <button data-toggle="tooltip" data-placement="bottom" title="Delete Customer"
                        class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                        (click)='assignDeleteCusId(customer.id)'>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- pagination bar -->
<div class="clearfix">
    <ngb-pagination
    class="float-right"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="totalCustomers" size="sm"></ngb-pagination>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CONFIRM DELETE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete <strong style="color: red">{{ deleteCusName }}?</strong> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='onDelete()'>Delete</button>
        </div>
      </div>
    </div>
  </div>


