<h2>Today's article</h2>
<hr>
<div *ngFor="let article of articles">
  <a href="{{article.url}}" target="_blank">{{article.title}}</a>
  <app-like-counter></app-like-counter>
</div>
<hr>

<div>
    <h2>New Article</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="url" cols="70"></textarea>
      </td>
    </tr>
    <tr>
        <td></td>
        <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
      </tr>
  </table>
</div>

<hr>
@CodeGym, 2021
