<div class="container-fluid row my-3">
    <div class="col-2">
        <h3>Employee List</h3>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>

<!--                    employee list here...-->
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Id card</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Division</th>
        <th scope="col">Education</th>
        
        <th scope="colgroup" colspan="2" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeList | paginate: { id: 'listing_pagination',
            itemsPerPage: 1,
            currentPage: page,
            totalItems: totalEmployees
        }">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.dateOfBirth }}</td>
            <td>{{ employee.idCard }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.address }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.division }}</td>
            <td>{{ employee.education }}</td>
            <td>
                <a href="#" role="button" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <a href="#" role="button" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<!-- pagination bar -->
<div class="clearfix">
    <pagination-controls class="float-right" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
