<div class="row container w-75 bg-light p-3 ml-auto mr-auto">
    <div class="col">
        <h2 class="text-center mb-3">New Employee</h2>
        <div class="form-group row">
            <label for="inputId3" class="col-sm-3 col-form-label">ID<span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputId3" placeholder="Id" required>
            </div>
        </div>
        <!-- Name -->
        <div class="form-group row">
            <label for="inputName3" class="col-sm-3 col-form-label">Name<span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input  type="text" class="form-control" id="inputName3" placeholder="Name" required>
            </div>
        </div>

        <!-- date of birth -->
        <div class="form-group row">
            <label for="inputBirthday3" class="col-sm-3 col-form-label">Date of birth</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="inputBirthday3" placeholder="Date of birth">
            </div>
        </div>

        <!-- id card -->
        <div class="form-group row">
            <label for="inputIdCard3" class="col-sm-3 col-form-label">ID Card<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="inputIdCard3" placeholder="Id card" required>
            </div>
        </div>

        <!-- salary -->
        <div class="form-group row">
            <label for="inputSalary3" class="col-sm-3 col-form-label">Salary<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputSalary3" placeholder="Salary" required>
                <!--                    Salary must be greater than 0.-->
            </div>
        </div>

        <!-- phone number -->
        <div class="form-group row">
            <label for="inputPhoneNumber3" class="col-sm-3 col-form-label">Phone number<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="inputPhoneNumber3" placeholder="Phone number" required>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control"
                       id="inputEmail3" placeholder="Email">
            </div>
        </div>

        <!-- address -->
        <div class="form-group row">
            <label for="inputAddress3" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"
                       id="inputAddress3" placeholder="Address">
            </div>
        </div>

        <!-- Position-------- -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputPosition3">Position<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <select id="inputPosition3" class="form-control">
                    <option value="receptionist">receptionist</option>
                    <option value="waitress">waitress</option>
                    <option value="specialist">specialist</option>
                    <option value="manager">manager</option>
                    <option value="CEO">CEO</option>
                </select>
            </div>
        </div>

        <!-- division-------- -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputDivision3">Division<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <select id="inputDivision3" class="form-control">
                        <option value="sale-marketing">sale-marketing</option>
                        <option value="office">office</option>
                        <option value="serving">serving team</option>
                        <option value="administration">administration</option>
                </select>
            </div>
        </div>

        <!-- education degree-------- -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputEducation3">Education degree:<span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <select id="inputEducation3" class="form-control">
                    <option value="intermediate">intermediate</option>
                    <option value="college">college</option>
                    <option value="university">university</option>
                    <option value="postgraduate">postgraduate</option>
                </select>
            </div>
        </div>

        <!-- Submit button -->
        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>
