<div class="container">
    <ul>
        <li class="nav-brand"><a href="#">Hacker News</a></li>
        <li class="nav-item"><a href="#">new</a></li>
        <li class="nav-item"><a href="#">past</a></li>
        <li class="nav-item"><a href="#">comments</a></li>
        <li class="nav-item"><a href="#">ask</a></li>
        <li class="nav-item"><a href="#">show</a></li>
        <li class="nav-item"><a href="#">jobs</a></li>
        <li class="nav-item"><a href="#">submit</a></li>
        <li class="nav-login">login</li>
    </ul>
</div>