<div class="container-fluid bg-dark small">
    <div class="d-flex">
        <div class="p-1">
            <a class="nav-link active text-white" href="#">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
        </div>
        <div class="p-1">
            <a class="nav-link text-white" href="#">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        </div>
        <div class="p-1">
            <a class="nav-link text-white" href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
        <div class="p-1 text-white ml-auto">
            <a href="#" role="button" class="btn btn-sm btn-info">
                Login
            </a>
            <div class="dropdown" hidden>
                <a href="#" class="dropdown-toggle btn btn-info btn-sm"
                   data-toggle="dropdown">
                    user@gmail.com
                </a>
                <div class="dropdown-menu bg-light">
                    <a href="#" class="dropdown-item">
                        <span class="glyphicon glyphicon-log-out"></span>Logout
                    </a>
                    <!--                                <a href="#" class="dropdown-item">Profile</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
